*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: url('../Images/background.jpg');
    color: white;
}
/* header  */
.header{
    height: 77px;
    background: linear-gradient(45deg, black, #ffffff61);
    border-radius: 6px;
}

/* Logo  */

.logo{
    position: absolute;
    left: 4px;
    top: 9px;
    /* border: 2px solid red; */
    display: inline-block;
    }
.logo img{
    width: 54%;
    display: block;
    border-radius: 60%;
    margin: auto;
    border-style: ridge;
    height: 49px;
}
.logo img:hover{
    cursor: pointer;
    border-style: none;
}
#l-heading{
    font-family: fantasy;
    letter-spacing: 1px;
}
#l-heading:hover{
    text-decoration: underline rgb(5 114 250);
}

/* Navigation  */
.navigation{
/* border: 2px solid blue; */
display: block;
width: 40%;
margin: 6px auto;

}

.navbar
{
    list-style: none;
    display: inline-block;
}
.navbar li{

    display: inline-block;
}
.navbar li a{
    margin: 20px;
    padding: 2px 15px;
    line-height: 70px;
    color: white;
    text-decoration: none;
    border-bottom: solid  rgb(5 114 250);
    font-family: cursive;
}
.navbar li a:hover{
transition-property:initial;
transition-duration: 0.90s;
background-color:  rgb(5 114 250);

border-radius: 9px;
    color: red;
}
.navbar li a.active{
    color: red;
    border-radius: 9px;
  
}

/* Right side  */
.r-button{
    /* border: 2px solid red; */
    position: absolute;
    top: 9px;
    margin: 12px 0px;
    right: 3px;
}
.btn{
    padding: 4px 12px;
    border-radius: 10px;
    color: white;
    background: none;
    font-family: cursive;
    font-weight: bold;
}
.btn:hover{
    transition-property:initial;
    cursor: pointer;
    transition-duration: 0.70s;
    background-color:  rgb(5 114 250);
    
}
